@font-face {
    font-family: notosans-regular;
    src: url(NotoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: notosans-bold;
    src: url(NotoSans-Bold.ttf);
    font-weight: 700;
}